 /* Made by Enzo Luchini with Love https://www.linkedin.com/in/enzo-luchini-465444281/ */

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital@0;1&display=swap');

:root {
    --fonte-principal: "Fredoka", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

body {
    background-color: #FFF6E6; 
    /* height: 100vh; */
    box-sizing: border-box;
}

.cabecalho {
    padding: 2% 0 0 15%;
    display: flex;;
}

.cabecalho_menu {
    display: flex;
    gap: 80px; 
    }

.cabecalho_menu_link {
    color: black;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    font-weight: 600; 
    }

 .apresentacao {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 7.5% 15%;
}

.apresentacao_conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_conteudo_titulo {
    font-size: 36px;
    font-family: var(--fonte-principal);
}

.titulo-destaque {
    color: #3A3042;
}

.apresentacao_conteudo_paragrafo {
    font-size: 16px;
    font-family: var(--fonte-secundaria);
    font-weight: 400;

}

.apresentacao_links {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao_subtitulo_links {
    font-family: var(--fonte-principal);
    font-weight: 400;
}

.apresentacao_links_botao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 5px solid #003049;
    width: 378px;
    border-radius: 15px;
    font-size: 24px;
    font-weight: 600;
    padding: 4% 0%;
    text-decoration: none;
    color: black;
    font-family: var(--fonte-secundaria);
    transition: 1s;
    
}

.apresentacao_links_botao:hover {
    transition: 1s;
    background-color: #f2d29e;
}

.rodape {
    padding: 24px;
    color: aliceblue;
    background-color: #3A3042 ;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

